<!doctype html>
<html class="no-js" lang="en"  ng-app="myApp">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation</title>
    <link rel="stylesheet" href="css/app.css" />
    <script src="js/modernizr/modernizr.js"></script>
    <title>Foundation</title>
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/modernizr/modernizr.js"></script>

  </head>
  <body ng-controller="rankingsController">
  <nav class="top-bar" data-topbar role="navigation"> 
    <ul class="title-area"> 
      <li class="name"> 
      <h1> &nbsp; &nbsp;<img src="img/tournup.png" alt="TournUp" height="80px" width="180px">  </h1> 
      </li> <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone --> 
    </ul> 
  </nav>
  <div id="scores" >
    
    <h1>Rankings</h1>
    <div id="search"> 
        <h4 style="display:inline">Search:</h4> <input ng-model="query" id="searchFieldText">
    </div>
    <br>

    <table id="rankings">
      <tr>
        <td><b>Rank</b></td>
        <td><center><b>Name</b></center></td>
        <td><b>Score</b></td>
      </tr>
      <tr dir-repeat="x in ranks | itemsPerPage: 2" ng-repeat="x in ranks | orderBy:orderProp | filter:query">
        <td>
          <center>{{$index + 1}}</center>
        </td>
        <td>
          <center>{{ x.name }}</center>
        </td>
        <td>
          <center>{{x.score}}</center>
        </td>
      </tr>
    </table>
    <dir-pagination-controls></dir-pagination-controls>
  </div>

    <script src="js/jquery/dist/jquery.min.js"></script>
    <script src="js/foundation/js/foundation.min.js"></script>
    <script src="js/TournUp.min.js"></script>
    <script src="js/rankingsController.js"></script>
    <script src="js/angular/angular.min.js"></script>
    <script>
      $(document).ready(function() {
        $('#rankings').dataTable();
    } );
    </script>
  </body>
</html>
